

#ava {
    width: 20%;
    padding-left: 8.5%;
    padding-bottom: 10%;
    padding-top: 1%;
    float: left;
}


#описание {
    width: 64.6%;
    float: right;
    font-size: 20px;
}

#название {
    text-align: left;
    font-size: 50px;
    width: 10%;
    float: right;
    margin-right: 14%;
}

   



#btn {
    text-align: center;
    width: 10%;
    float: right;
    background-color: #0095f6;
    border-radius: 3px;
    border: none;
    padding: 20px;
    margin: 15px;
    margin-right: 30%;
    margin-top: 5%;
    font-size: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#post {
    width: 31.99%;
    padding: 0.1%;
}

.posts {
    text-align: center;
}

.отталкивание {
    margin-bottom: 50px;
}

.button {
    margin-bottom: 25px;
    margin-left: 34.5%;
    padding: 10px 40px;
    background: #0095f6;
    color: #ffffff;
    text-decoration: none;
    font-size: 50px;
    font-weight: 600;
    border-radius: 3px;
    position: relative;
    overflow-x: hidden;
    font-family: OpenSans-Light;
}

.button .flare {
    position: absolute;
    top: 0;
    height: 100%;
    width: 30px;
    transform: skewX(-45deg);
    animation: flareAnimation;
    left: -150%;
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
    animation: flareAnimation 2s infinite linear;
}

@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}

.clean {
    margin-top: 50px;
}

.row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .row { display: inline-block; }
  /* start commented backslash hack \*/
  * html .row { height: 1%; }
  .row { display: block; }
  /* close commented backslash hack */

  @font-face {
    font-family: "OpenSans-Light"; 
    src: url("fonts/OpenSans-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

p{
    font-family: "OpenSans-Light";
    }
